[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/.pyenv/versions/3.9.5/bin/uwsgi -i /srv/EC2_Deploy_Project/monthly_project/.config/uwsgi/mysite.ini



Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
